<template>
  <div id="app">
    <RouterView />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Socket } from 'vue-socket.io-extended';
import { Configuration } from '@common/models/configuration';

@Component
export default class App extends Vue {
  private configData: Configuration = new Configuration();

  public mounted(): void {
    this.$socket.client.emit('initialisation', 1, this.initialisation);
  }

  @Socket('initialisation')
  public initialisation(response: any): void {
    this.configData = Configuration.fromJSON(response.configuration);
  }
}
</script>

<style lang="less">
body {
  background-color: azure;
}
</style>
