<template>
  <p class="switch-toggle">
    MODE :&nbsp;
    <b-form-radio-group id="env-group" v-model="data.env" :options="optionsEnv" name="radios-btn-default" buttons @change="changeEnvironment()" />
  </p>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Configuration } from '@common/models/configuration';

@Component
export default class ModeSwitcher extends Vue {
  @Prop({ default: new Configuration() })
  private data!: Configuration;

  public optionsEnv = [
    { text: 'PROD', value: 'PROD' },
    { text: 'DEV', value: 'DEV' },
    { text: 'LOCAL', value: 'LOCAL' },
  ];

  public changeEnvironment(): void {
    this.$socket.client.emit('change_environnement', this.data.env);
  }
}
</script>

<style lang="less">
.switch-toggle {
  #env-group {
    .btn {
      background-color: #e4e4e4;
      color: rgb(80 78 78);
      font-size: 9px;
      line-height: 1;
      text-align: center;
      padding: 5px 9px;
      margin-right: -3px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 3px rgb(0 0 0 / 30%), 0 1px rgb(255 255 255 / 10%);
      transition: all 0.1s ease-in-out;

      &.active {
        background-color: #152e45;
        box-shadow: none;
        font-weight: bold;
        color: white;
      }
    }

    .btn:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    .btn:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
}
</style>
